.page-info{

padding-top: 20px;
}

.whole-info{

  margin-bottom: 100px;
  padding-left: 100px;
padding-right: 100px;
}

.f-info{
display: inline-block;

}
.s-info{
  display: inline-block;
  font-family: arial;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;

}

.t-info{
  display: inline-block;
  margin-left: 760px;
}

.Home-info,
.News-info,
.Popular-info,
.Trending-info,
.Categories-info{
  
  background-color: white;
  border: none;
  padding-right: 20px;
  color: black;
  text-decoration: none;
  
}

.image-info{


}

.text-info{

  background-color: rgb(1, 1, 20);
}

.new-info{

  font-family: arial;
  font-size: 40px;
  color: rgb(156, 134, 7);
  font-weight: bold;
  padding-left: 15px;
}

.inner-info{
  padding-left: 15px;
  padding-right: 15px;
}
.para-info{
  font-family: arial;
  font-size: 19px;
  color: white;
  width: 360px;
  margin-right: 0px;
  line-height: 30px;
  
}
.img-info{
  width: 700px;
  height: 430px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.second-info{
display: grid;
grid-template-columns: 2fr 1fr;
margin-top: 30px;
}



.bright-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.web-info{
  width: 250px;
  font-family: arial;
  font-size: 50px;
  font-weight: bold;
  padding-right: 40px;
  height: 150px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.lorem-info{
  width: 323px;
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.last-info{

  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 70px;
  margin-left: 0px;
}

.lasto-info{
  display: inline-block;
  padding-left: 50px;

}

.l-info{
  width: 100px;
}

.inten-info{
display: inline-block;
width: 230px;
padding-left: 20px;
}

.pi-info{
  padding-top: 30px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pp-info{
  padding-top: 30px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 20px;
}

.pi-info{
  font-family: arial;
  font-size: 40px;
  font-weight: bold;


}

.p-info{
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 30px;
}


.lastos-info{
padding-left: 0px;
margin-left: 0px;

}

.ten-info{
  padding-top: 0px;
  margin-top: 0px;
  height: 80px;
  padding-bottom: 0px;
  font-size: 40px;
  color: rgb(153, 152, 152);
  font-family: arial;
}

.button-info{
  background-color: red;
  color: white;
  margin-top: 20px;
  width: 190px;
  height: 40px;
  font-family: arial;
  font-weight: bold;
  font-size: 13px;
  border: none;
}

.ps-info{
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  padding-top: 0px;
  margin-top: 0px;

}

.h-info{

  font-family: arial;
  color: white;
  font-size: 25px;
  width: 350px;
}
